.weather-forecast-container {
  flex-direction: row;
  height: 100%; /* Занимаем всю высоту экрана */
width: 100%
  }

.weather-day {
   /* Удалены width и clip-path для сохранения одинакового размера и расположения */
   text-align: center;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 10px;
   transition: transform 0.2s;
   cursor: pointer;
   position: relative;
   background-color: #c6f6d5; /* Цвет фона */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   /* text-align: center; */
}

.weather-day:hover {
  transform: scale(1.05);
}

.weather-day img {
  max-width: 100%;
  height: auto;
}

.city-input {
  display: flex;
  flex-direction: column;
  
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  transition: transform 0.2s;
  cursor: pointer;
  position: relative;
  background-color: #c6f6d5; /* Цвет фона */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* .city-input input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #784040;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-bottom: 10%;
} */

.city-input button {
  padding: 10px;
  font-size: 16px;
  background-color: #f9e08d;
  color: #57574e;
  border: none;
  border-radius: 4px;
  border: 2px solid #ffffff;
  cursor: pointer;
}
.city-input button:hover {
  border: 2px solid #d5bc69; /* Цвет рамки при наведении */
}

.city-input input[type='text'] {
  padding: 10px;
  font-size: 10px;
  border: 2px solid #a6dcaa; /* Красная граница */
  border-radius: 4px;
  margin-bottom: 10px;
}



.city-input input[type='text']:focus {
  border-color: #dbdf89; /* Цвет границы при фокусе */
  outline: none; /* Убирает стандартную обводку при фокусе */
}



.detailed-forecast h2 {
  font-size: 20px;
  font-weight: bold; /* Делает шрифт жирнее */
  color: #333333; /* Устанавливает цвет текста */
}

.detailed-forecast p {
    font-size: 16px;
}

.detailed-forecast img {
  max-width: 100%;
  height: auto;
}

.detailed-forecast img {
  float: left;
  margin: 0 0 10px 10px;
  width: 100px; /* можно задать подходящий размер */
  height: auto;
}

