.weather-forecast-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.left-section {
  flex: 1;
  max-width: 400px;
  margin-right: 20px;
}

.city-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.city-input input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #784040;
  border-radius: 4px;
  margin-bottom: 10px;
}

.city-input button {
  padding: 10px;
  font-size: 16px;
  background-color: #d7b548;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.detailed-forecast {
  text-align: center;
}

.detailed-forecast h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.detailed-forecast p {
  font-size: 16px;
  margin-bottom: 5px;
}

.detailed-forecast img {
  max-width: 100%;
  height: auto;
}

.right-section {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.weather-day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.weather-day {
  width: 18%;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s;
}

.weather-day:hover {
  transform: scale(1.05);
}

.weather-day img {
  max-width: 100%;
  height: auto;
}
.detailed-forecast {
  position: relative;
  padding: 10px;
}

.detailed-forecast img {
  float: left;
  margin: 0 0 10px 10px;
  width: 100px; /* можно задать подходящий размер */
  height: auto;
}

.bold-text {
  font-weight: bold;
}


