.chat-message {
    display: flex;
    margin-bottom: 10px;
  }
  
  .current-user {
    justify-content: flex-end;
  }
  
  .other-user {
    justify-content: flex-start;
  }
  
  .message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
  }
  
  .current-user .message-content {
    background-color: #007bff;
    color: white;
  }
  
  .message-username {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .message-text {
    word-wrap: break-word;
  }
  .you{
    display: flex;
    justify-content: start;
    padding-right: 70px;
    background-color: rgb(141, 211, 131);
    border-radius: 15px;
    color: #ffffff;
    width: 240px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(184, 170, 97);
  }
  .other{
   
      display: flex;
      justify-content: end;
      margin-left: 10px;
      padding-left: 70px;
      background-color: rgb(128, 141, 141);
      border-radius: 15px;
      color: #f1f1f1;
     width: 230px;
     height: 80px;
     justify-content: center;
     align-items: center;
     border-top: 2px solid rgb(212, 41, 41);
    }
    
  
