.user-item {
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-left: 5px; 
  }
  .p-2 {
    display: flex;
    align-items: center; 
    
  }
  
  .p-2 .DotOnlineIcon {
    margin-right: 10px; 
  }
  
.report-button {
  top:350px;
 
  left:25px;
  
}
.users-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.modal{
  position: absolute;
  top:365px;
  left:950px;
  background-color:rgb(179, 179, 204);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  
}
.btnClose{
width: 105px;
padding-right: 2px;
padding-left: 2px;
}
.primary{
  margin-left: 10px;
  padding-left:20px;
  padding:10px;
}
.reportDescription{
  padding-left: 20px;
}
.input{
  margin-left: 10px;
}