.calendar-container {
    width: 130%;
    max-width: 470px;
    margin: 0 0;
    background-color: #b8e4b9; /* Голубой цвет */
    font-size: 1.1rem; /* Размер шрифта для заголовка месяца */
  }
  
  .rbc-calendar {
    font-family: 'Roboto', sans-serif;
  }
  
  .rbc-event {
    background-color: #3182ce;
    border: none;
    border-radius: 4px;
    color: #ffffff;
  }
  
  .rbc-toolbar-label {
 font-size: 1.1rem; 
  }
  
  .rbc-today {
    background-color: #f6ad55;
    color: #ffffff;
    
  }
  
  .rbc-header {
    background-color: #edf2f7;
    border-bottom: 1px solid #cbd5e0;
  }
  
  .rbc-timeslot-group {
    border-bottom: 1px solid #cbd5e0;
  }
  
  .rbc-timeslot {
    border-right: 1px solid #cbd5e0;
  }
  
  .rbc-time-gutter {
    color: #4a5568;
  }
  
  .rbc-show-more {
    background-color: #e2e8f0;
    color: #2d3748;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .rbc-show-more:hover {
    background-color: #cbd5e0;
  }

  /* Уменьшение размеров календаря */
.fc {
    transform: scale(0.8); /* Уменьшение размера на 80% */
    height: auto !important; /* Установка автоматической высоты */
    overflow: hidden; /* Скрытие возможной вертикальной прокрутки */
  }
  
  /* Уменьшение высоты заголовка */
  .fc-header-toolbar {
    height: 32px; /* Высота заголовка */
    font-size: 1.1rem; 
}
  
  /* Уменьшение размеров событий */
  .fc-event {
    font-size: 12px; /* Размер шрифта событий */
    padding: 2px 4px; /* Внутренние отступы событий */
  }