.bodyProfile {
  background-color: #F0FFF4;
  min-height: 100vh; /* Устанавливаем минимальную высоту на 100% высоты экрана */
  display: flex;
  justify-content: center;
  align-items: center;
  }
  

.container {  max-width: 1300px; /* Установка максимальной ширины контейнера */
  width: 100%; /* Контейнер занимает всю ширину */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  padding: 20px; /* Установка отступов */
  background-color: #1b582b; /* Цвет фона контейнера */
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  justify-content: center; /* Центрирование элементов по горизонтали */}


.card {
  margin-bottom: 0; /* Удаление отступа между карточками */
}

.flex-item {
  width: 30%; /* Ширина карточки в левой колонке */
  margin-bottom: 0; /* Удаление отступа между карточками внутри flex-контейнера */
}

.flex-item:last-child {
  width: 200%; /* Ширина карточки Achievements в правой колонке */
}

.boxСontainer {
  border: none; /* Удаление границы у всех box-контейнеров */
  margin-bottom: 0;
  display: flex;
   justify-content: center; /* Центрирование содержимого контейнера по горизонтали */
  align-items: center; /* Центрирование содержимого контейнера по вертикали */
}

.boxСontainer2 {
  border: none; /* Удаление границы у всех box-контейнеров */
  margin-bottom: 0;
 }