/* .profileContainer {
  font-size: 1.5rem; 
  font-weight: bold; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; 
  padding: 20px;
  border: 2px solid #000; 
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto; 
}

.profileTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px; 
} */

.wrapper {
    /* position: absolute; Устанавливает позиционирование элемента как абсолютное */
  top: 0px; /* Располагает элемент относительно верхней границы родительского контейнера на 0 пикселей */
  width: 100%; /* Устанавливает ширину элемента на 100% ширины родительского контейнера */
  height: 70px; /* Устанавливает высоту элемента на 70 пикселей */
  /* display: flex; Устанавливает элемент как flex-контейнер */
  justify-content: space-between; /* Выравнивает дочерние элементы по горизонтали с промежутками между ними */
  align-items: center; /* Выравнивает дочерние элементы по вертикали по центру */
  text-align: center; /* Выравнивает текст внутри элемента по центру */
  left: 0; /* Располагает элемент относительно левой границы родительского контейнера на 0 пикселей */
  /* background-color: rgb(84, 78, 78); Устанавливает цвет фона элемента */
  padding: 20px 20px 20px 20px; /* Добавляем отступы по горизонтали в 20 пикселей с обеих сторон */
}
