/* .profileContainer {
  font-size: 1.5rem; 
  font-weight: bold; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; 
  padding: 20px;
  border: 2px solid #000; 
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto; 
}

.profileTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px; 
} */
